{
    "presets": ["es2015", "stage-0"],
    "env": {
        "development": {
            "plugins": [
                ["cycle-hmr/xstream", {
                    "include": [
                        "**/src/client/components/**"
                    ]
                }]
            ]
        },
        "production": {
            "plugins": []
        }
    }
}
